<template name="sidebar">
  <div class="navbar-collapse collapse" role="navigation">
    <a href="{{pathFor 'pitches_page'}}">
      <img style="width:100%; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px;" src="http://localhost:3000/pitcher.jpg" alt="Pitcher">
    </a>
    <br/>
    <br/>
    <div class="btn" id="navigation">
      {{> loginButtons}}
    </div>
    <br>
    <br>
    {{#if currentUser}}
      <a href="{{pathFor 'pitches_page'}}" class="btn btn-block btn-lemon">Pitcher</a>
      <a href="{{pathFor 'dashboard'}}" class="btn btn-block btn-lemon">My Stuff</a>
      <a href="{{pathFor 'pitch_submit'}}" class="btn btn-block btn-lemon">Pitch!</a>
    {{/if}}
    <br>
  </div>
</template>
