<template name="pitch_submit_modal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <br>
          <form class="new-pitch">
            <input type="text" style="word-break: break-word; width: 100%" name="title" placeholder="Name your Pitch!" autofocus /> <br><br>
            <textarea type="text" style="height: 150px; width: 100%" name="description" placeholder="Describe your Pitch!" ></textarea>
            <br><br>
            <input type="submit" style="float: right" class="btn btn-lemon" value="Submit">
            <br>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
</template>
